<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css' />
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">
  </head>

<body class="app sidebar-show aside-menu-show">

  <header class="app-header navbar">
    <% include partials/header2 %>
  </header>

  <div class="app-body">

    <div class="sidebar">
      <% include partials/sidebar %>
    </div>

    <main class="main mt-2 mx-3">
      <form id="formAddAgent" name="addAgent" method="post" action="/addAgent">
      <div class="card  w-auto">
        <h3 class="card-header">Agent Information</h3>
        <div class="card-body">

      <!-- Agent Abbreviation-->
      <div class="form-group">
        <label for="agentAbbrev">Agent Abbreviation</label>
          <div class="form-row">
      			<div class="col-auto">
      			  <input type="text" class="form-control" id="agentAbbrev" name="agentAbbrev" placeholder="Use All Caps"  required>
      			</div>
      	</div>
      </div>

      <!-- Agent Name-->
      <div class="form-group">
        <label for="agentName">Agent Name</label>
          <div class="form-row">
      			<div class="col">
      			  <input type="text" class="form-control" id="agentFirstName" name="agentFirstName" placeholder="First Name" required>
      			</div>
      			<div class="col">
      			  <input type="text" class="form-control" id="agentLastName" name="agentLastName" placeholder="Last Name" required>
      			</div>
      	</div>
      </div>

      <!-- Agent Position-->
      <div class="form-row">
          <div class="form-group col">
            <label for="agentPosition">Position</label>
            <select class="form-control" id="agentPosition" name="agentPosition">
            <option value="" disabled selected>Select</option>
      		  <option>Sales Executive</option>
      		  <option>Office</option>
      		  <option>Sales Manager</option>
      	  </select>
          </div>
      </div>


      <!-- Agent Phone Number-->
      <div class="form-group">
        <label for="agentAbbrev">Agent Phone Number</label>
          <div class="form-row">
      			<div class="col">
      			  <input type="text" class="form-control" id="agentPhone" name="agentPhone" placeholder="Contact Number">
      			</div>
      	</div>
      </div>

      <input class="btn btn-primary" type="submit" value="Submit">
      </form>

    </div>
  </div>
    </main>

    <aside class="aside-menu-hidden">
      <!-- Aside menu content here -->
    </aside>

  </div>
  <footer class="app-footer">
    <% include partials/footer %>
  </footer>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
</body>

</html>
