<!DOCTYPE html>
<html>
  <head>
	<link rel='stylesheet' href='https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css' />
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">
  </head>
  <body>
    <h1>Welcome to the New CRM</h1>
    <h3><a href="/register">Register</a></h3>
    <h3><a href="/login">Login</a></h3>

  </body>
</html>
