<!DOCTYPE html>
<html>

  <head>
    <link rel='stylesheet' href='https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css' />
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">
  </head>

<body class="app sidebar-show aside-menu-show">

  <header class="app-header navbar">

<% include partials/header %>

  </header>

  <div class="app-body">

    <div class="sidebar">
      <% include partials/sidebar %>
    </div>

    <main class="main mt-2 mx-3">

      <div class="card w-auto">
        <div class="card-body">

<h3> <strong>Visit Count Report</strong></h3>
<h4><small class="text">Agent: <u><%- agentAbbrev %></u></small></h4>
<h4><small class="text">Date Range: <u><%- dateRange %></u></small></h4>

  <!-- Extracted data in Table Form -->

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">CLIENT</th>
        <th scope="col">NUMBER OF VISITS</th>
        <th scope="col">DATE/S OF VISIT/S</th>
        <th scope="col">AVERAGE DURATION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%
          var list = '';
          var k = 1;
          for (i = 0; i < result.length; i++) {
            list += '<tr>';
            list += '<th scope="row">' + k + '</th>';
            list += '<td>' + result[i]._id + '</td>';
            list += '<td>' + result[i].visitCount + '</td>';
            var eventsDateList = '';
            for (x = 0; x < result[i].eventDates.length; x++) {
              var str = result[i].eventDates[x].toString();
              var str = str.substr(0, 15);
              eventsDateList += str;
              eventsDateList += '<br>';
            }
            list += '<td>' + eventsDateList + '</td>';
            var hours = Math.floor(result[i].totalDuration / 60);          
            var minutes = result[i].totalDuration % 60;
            minutes = Math.round(minutes * 100) / 100;
            list += '<td>' + hours + ' hours ' + minutes + ' minutes' + '</td>';
            list += '</tr>';
            k++;
        }
        %>
        <%- list %>  

    </tbody>
  </table>
</div>


<!-- Submit Button to execute -->
        <div class="form-row">
          <div class="form-group col">
            <button type="button" class="btn btn-primary" onclick="goBack()">Back</button>
          </div>
        </div>
        <script>
          function goBack() {
            window.history.back();
          }
        </script>

      </div>
    </div>

    </main>

    <aside class="aside-menu-hidden">
      <!-- Aside menu content here -->
    </aside>

  </div>
  <footer class="app-footer">
    <% include partials/footer %>
  </footer>
</body>

</html>
