<!-- views/partials/header.ejs -->
<meta charset="UTF-8">
<title>CHANSEY CRM</title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css">
<link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

<strong>Current User: </strong> <u class="text-primary"> <%- user %></u>
