<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-sm-auto">
      <h1>CHANSEY CRM</h1>
    </div>
    <div class="col-lg">
      <h2>search bar goes here...</h2>
    </div>
    <div class="col-sm-auto">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              NEW
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/entry-client">Client</a>
              <a class="dropdown-item" href="/entry-contact">Contact</a>
              <a class="dropdown-item" href="/entry-event">Event</a>
              <a class="dropdown-item" href="/entry-agent">Agent</a>
            </div>
          </div>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              IMPORT
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Client</a>
              <a class="dropdown-item" href="#">Contact</a>
              <a class="dropdown-item" href="#">Event</a>
            </div>
          </div>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
          <button type="button" class="btn btn-secondary"><strong><u class="text-primary"> <%- user %></u></strong></button>
        </div>
      </div>
    </div>
  </div>
</div>
