<link rel='stylesheet' href='https://unpkg.com/@coreui/coreui@2.1.16/dist/css/coreui.min.css' />
<link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">


  <nav class="sidebar-nav">
    <ul class="nav">

<!-- Return Home-->
      <li class="nav-item mt-auto">
        <a class="nav-link nav-link-success" href="/home">
          <i class="nav-icon cui-home"></i>HOME</a>
      </li>

<!-- Data Entry Links -->
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                DATA ENTRY
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="/entry-client">
                    <i class="nav-icon cui-briefcase"></i> Client Data Entry
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/entry-contact">
                    <i class="nav-icon cui-user"></i> Contact Data Entry
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/entry-event">
                    <i class="nav-icon cui-calendar"></i> Event Data Entry
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/entry-agent">
                    <i class="nav-icon cui-laptop"></i> Agent Data Entry
                  </a>
                </li>
              </ul>
            </li>

<!-- Quick View Links-->

            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                SEARCH
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="/search-client">
                    <i class="nav-icon cui-briefcase"></i> Clients
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/search-contact">
                    <i class="nav-icon cui-user"></i> Contacts
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/search-event">
                    <i class="nav-icon cui-calendar"></i> Events
                  </a>
                </li>
              </ul>
            </li>

<!-- Report Links-->

            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                REPORTS
              </a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="/report-activity">
                    <i class="nav-icon cui-map"></i> Activity Report
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/report-visit-count">
                    <i class="nav-icon cui-calculator"></i> Visit Count Report
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/report-client-list">
                    <i class="nav-icon cui-list"></i> Client List Report
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/report-contact-history">
                    <i class="nav-icon cui-people"></i> Contact History
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/report-client-history">
                    <i class="nav-icon cui-calendar"></i> Client History
                  </a>
                </li>
              </ul>
            </li>

    

      <li class="nav-item mt-auto">
        <a class="nav-link nav-link-info" href="#">
          <i class="nav-icon cui-cloud-download"></i>PLACEHOLDER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-danger" href="/logout">
          <i class="nav-icon cui-account-logout "></i>
          LOG OUT
        </a>
      </li>
    </ul>
  </nav>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
