<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Data Entry Page</h1>
    <li><a href="/client-entry">Client Data Entry</a></li>
    <li><a href="/contact-entry">Contact Data Entry</a></li>
    <li><a href="/event-entry">Events Data Entry</a></li>
    <li><a href="/agent-entry">Agent Data Entry</a></li>
  </body>
</html>
