<div class="c-sidebar-brand d-md-down-none">
  <!-- <a href="/home" style="color:white;">CRM SOFTWARE</a> -->
<a href="/home"><img src="/images/record.svg" width="118" height="46" href="/home"></img></a>


</div>



<%
  var grantEventRead = false;
  var grantClientRead = false;
  var grantContactRead = false;
  var grantUserRead

  for (i = 0; i < permissions.length; i++){
        if (permissions[i].resource == 'Event' && permissions[i].action == 'Read:any') {
          grantEventRead = true;
        }
        if (permissions[i].resource == 'Client' && permissions[i].action == 'Read:any') {
          grantClientRead = true;
        }
        if (permissions[i].resource == 'Contact' && permissions[i].action == 'Read:any') {
          grantContactRead = true;
        }
        if (permissions[i].resource == 'Account' && permissions[i].action == 'Read:any') {
          grantUserRead = true;
        }
      }
%>

<ul class="c-sidebar-nav ps ps--active-y">

  <% if (grantUserRead == true) {%>
    <li class="c-sidebar-nav-item">
      <a class="c-sidebar-nav-link" href="/view-users">
        <i class="c-sidebar-nav-icon cil-user"></i>
        Users
      </a>
    </li>
  <% } %>

<% if (grantClientRead == true) {%>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" href="/search-client">
      <i class="c-sidebar-nav-icon cil-briefcase"></i>
      Clients
    </a>
  </li>
<% } %>

<% if (grantContactRead == true) {%>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" href="/search-contact">
      <i class="c-sidebar-nav-icon cil-contact"></i>
      Contacts
    </a>
  </li>
<% } %>


<% if (grantEventRead == true) {%>
  <li class="c-sidebar-nav-item">
    <a class="c-sidebar-nav-link" href="/search-event">
      <i class="c-sidebar-nav-icon cil-calendar"></i>
      Events
    </a>
  </li>
<% } %>

  <li class="c-sidebar-nav-dropdown">
    <a class="c-sidebar-nav-dropdown-toggle" href="#">
      <i class="c-sidebar-nav-icon cil-description"></i>
      Reports
    </a>
    <ul class="c-sidebar-nav-dropdown-items">


      <% if (grantEventRead == true) {%>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="/report-activity">Activity Report</a>
        </li>
      <% } %>

      <% if (grantClientRead == true) {%>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="/report-client-history">Client History</a>
        </li>
      <% } %>


      <% if (grantClientRead == true) {%>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="/report-client-list">Client List</a>
        </li>
      <% } %>


      <% if (grantContactRead == true) {%>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="/report-contact-history">Contact History</a>
        </li>
      <% } %>

      <% if (grantEventRead == true) {%>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="/report-visit-count">Visit Count</a>
        </li>
      <% } %>

      <% if (grantEventRead == true) {%>
        <li class="c-sidebar-nav-item">
          <a class="c-sidebar-nav-link" href="/report-visit-due">Visit Due</a>
        </li>
      <% } %>

    </ul>
  </li>

</ul>
