<!Doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

 <title>RECORD</title>
</head>
<body class="c-app">
	<div class="c-wrapper container">
		<header class="c-header c-header-dark bg-primary c-header-fixed">
			<!-- Header content here -->
		</header>
		<div class="c-body">
			<main class="c-main">

        <div class="container" style="max-width:500px">
          <a href="">
            <img src="/images/recordpurple.svg" class="img-fluid" alt="Responsive image">
          </a>
        </div>

        <div class="card mx-auto text-center" style="width: 50rem;">
          <div class="card-body">
            <h1 class="card-title mx-auto">SORRY!</h1>
            <p class="card-text">You don't have access to the page you are requesting. <br> If you think this is a mistake, please contact your system administrator for additional details. <br> - RECORD Team</p>
          </div>
        </div>



			</main>
			</div>
		</div>
		<!-- Popper.js first, then CoreUI JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>

</body>
</html>
