<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

 <title>CRM - Import Agent</title>
 </head>

 <script>
  // Function to check Whether both passwords
  // is same or not.
  function checkPassword(form) {
      password1 = form.password.value;
      password2 = form.password2.value;

      // If password not entered
      if (password1 == '') {
          alert ("Please enter Password");
          return false;
      }

      // If confirm password not entered
      else if (password2 == '') {
          alert ("Please enter confirm password");
          return false;
      }

      // If Not same return False.
      else if (password1 != password2) {
          alert ("\nPassword did not match: Please try again...")
          return false;
      }

      // If same return True.
      else{
          return true;
      }
  }
</script>
 <body class="c-app">

   <div class="c-sidebar c-sidebar-light c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
     <% include partials/sidebar %>
   </div>

  <div class="c-wrapper">
    <header class="c-header c-header-dark bg-primary c-header-fixed">
      <!-- Header content here -->
      <% include partials/header %>
    </header>
    <div class="c-body">
      <main class="c-main">
        <!-- Main content here -->
        <main class="main mt-0 mx-3">
              <h2>Import Agent Tool</h2>
              <hr>
            <h4> Instructions: </h4>
            <ul>
              <li> Download the template file: <a href="../public/files/agents.csv" download>Agents.csv</a></li>
              <li> Populate table with Agent information.</li>
              <li> Delete Sample Data included </li>
              <li> It is important that you do not change the column names </li>
              <li> <strong>NOTE:</strong> Any fields with commas should be surronded by Double Quotes. <br/> <b>Example</b>: "1600 Pennsylvania Ave NW, Washington, DC"</li>
              <li> Upload the file, click submit and review the information on the next page.</li>
            </ul>
            <br/>
            <h4> Example Data: </h4>
            <h6><a href="/files/agents.csv" download>Download Template CSV File</a></h6>
              <table class="table table-bordered px-2 py-2 bg-white">
              <thead class="thead-dark">
                <tr>
                  <th style="width: 10%" scope="col" class="align-middle">Username: </th>
                  <th style="width: 10%" scope="col" class="align-middle">Agent Abbreviation:</th>
                  <th style="width: 10%" scope="col" class="align-middle">Agent First Name: </th>
                  <th style="width: 10%" scope="col" class="align-middle">Agent Last Name: </th>
                  <th style="width: 10%" scope="col" class="align-middle">Agent Position: </th>
                  <th style="width: 10%" scope="col" class="align-middle">Agent Phone: </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>JSmith</td>
                  <td>JS</td>
                  <td>John</td>
                  <td>Smith</td>
                  <td>Senior Account Manager</td>
                  <td>123-4567</td>
                </tr>
              </tbody>
            </table>
            <h4> Upload File: </h4>


             <form action="/import-agent" method="post" enctype="multipart/form-data" onSubmit="return checkPassword(this)">
              <h4> Default Values: </h4>

              <div class="form-row">
                <div class="form-group col-12 col-md-auto">
                  <label>Default Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-12 col-md-auto">
                  <label>ReType Password</label>
                  <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-12 col-md-auto">
                  <label>Change PW On Login</label>
                  <div class="custom-control custom-checkbox">
                    <input class="form-check-input" type="checkbox" name="changePWOnLogin" id="ChangePWOnLogin" value="true">
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-12 col-md-auto">
                  <label>User Type</label>
                  <select class="form-control" id="usertype" name="usertype" required>
                    <option></option>
                    <option>Administrator</option>
                    <option>Agent</option>
                    <option>Read-Only</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-12 col-md-auto">
                  <label>Status</label>
                  <select class="form-control" id="active" name="active" required>
                    <option selected>Enabled</option>
                    <option>Disabled</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-12 col-md-auto">
                  <label>File for Upload</label>
               <input type="file" class="form-control-file" name="agentCSV" required>
                </div>
              </div>

              <input class="btn btn-primary" type="submit" value="Submit">
           </form>
       </div>
     </div>
       </main>
      </main>
    </div>
    <footer class="c-footer">
      <!-- Footer content here -->
      <% include partials/footer %>
    </footer>
  </div>

  <!-- Optional JavaScript -->
 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
 </body>
</html>
