<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

 <title>CRM - View Contact</title>
 </head>
 <body class="c-app">

   <div class="c-sidebar c-sidebar-light c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
     <% include partials/sidebar %>
   </div>

  <div class="c-wrapper">
    <header class="c-header c-header-dark bg-primary c-header-fixed">
      <!-- Header content here -->
      <% include partials/header %>
    </header>
    <div class="c-body">
      <main class="c-main">
        <!-- Main content here -->
        <main class="main mt-0 mx-3">
              <h2>View/Edit Contact</h2>
              <hr>
              <form id="search-contact" name="search-contact" method="post" action="/search-contact">
                <!-- Select Contact from Prepopulated list of options -->
                  <div class="form-row">
                    <div class="form-group col-12 col-md-auto">
                      <label for="contactSelect">Select Client</label>
                      <select class="form-control" id="clientID" name="clientID" onChange="changeContact(this.value);" required>
                        <%
                            var sortedClients = clientList.sort(function(a,b){
                                if (a.clientName > b.clientName) { return 1;}
                                if (a.clientName < b.clientName) {return -1;}
                                return 0;
                            });
                            var list = '<option value="" disabled selected>Select</option>';
                            for (i = 0; i < sortedClients.length; i++) {
                              list += '<option>' + sortedClients[i].clientName + '</option>';
                            }
                        %>
                          <%- list %>
                      </select>
                      <span id="variableJSON" hidden>
                        <%= JSON.stringify(contactList); %>
                      </span>
                      <script>
                        function changeContact(value){
                          var contacts = JSON.parse($('#variableJSON').text());

                          var contactOptions = "";
                          for (j = 0; j < contacts.length; j++) {
                            if(contacts[j].contactClientID === value) {
                              contactOptions += '<option value="' + contacts[j]._id + '">' + contacts[j].contactFirstName + ' ' + contacts[j].contactLastName + '</option>';
                            }
                          }
                          document.getElementById("contactID").innerHTML = contactOptions;
                        }
                      </script>


                      <label for="contactSelect">Select Contact</label>
                      <select class="form-control" id="contactID" name="contactID" required>
                      </select>
                    </div>
                  </div>

          <!-- Submit Button to execute -->
                  <div class="form-row">
                    <div class="form-group col">
                      <div class="row">
                        <div class="col-12 col-md-auto">
                          <input class="btn-block btn-primary btn-lg" type="submit" value="Submit">
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
        </main>
      </main>
    </div>
    <footer class="c-footer">
      <!-- Footer content here -->
      <% include partials/footer %>
    </footer>
  </div>

  <!-- Optional JavaScript -->
 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
 </body>
</html>
